<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
    <header>
        <h1>Remote Jobs</h1>
        
        </br>

        <strong>{{data|length}} {{lang}} jobs found.</strong>

        </br>
        </br>

        <a href="/export?lang={{lang}}"> Export to CSV</a>

        </br>
        </br>

        <a href="/">← Go back</a>

    </header>
    <main>

        <!-- title, author, link -->


        {% for i in data %}
            </br>
            <strong>{{i[0]}}</strong>
            </br>
            </br>
            <strong> {{i[1]}} </strong>
            </br>
            </br>
            <a href="{{i[2]}}">Apply</a>
            </br>
            </br>
            <hr>
        {% endfor %} -->

    </main>
</body>

</html>